*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Comfortaa", cursive;
}

.registration-section {
    display: flex;
    align-items: center;
    margin-top: 15%;
    flex-direction: column;
    
}

.registration-wrapper {
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.registration-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.registration-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.registration-text {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.registration-label {
    margin-bottom: 5px;
}

.registration-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 20px 8px #f1f1f1;
}

.registration-input:focus, .registration-input:active {
    outline: 1px solid #b1b1b1;
}

.registration-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.registration-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.registration-errors {
    list-style: none;
    font-weight: bold;
    color:rgba(255, 0, 0, 0.644);
    padding: 5px;
}

.registration-users {
    list-style: none;
    font-weight: bold;
    padding: 5px;
}

.registration-head {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}